* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    background: rgb(121,81,9);
    background: linear-gradient(90deg, #DDFFE7 0%, #98D7C2 15%, #167D7F 50%, #29A0B1 75%);
}
